<nav class="profileBody">
    <h1 class="display-1"> Welcome {{name}}!</h1>
    <br>
    <p class="h3">Given you are {{age}} years old and you are a {{sex}}, the following are our my health recommendations.</p>
    <br>
        <nav>
<div class="card-group">
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-body text-primary">
      <h3 class="card-header">Recommended Screenings</h3>
      {{#each Screenings}}
                      <p class="card-text">{{needed_screening}}</p>
                      {{/each}}
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-body text-info">
      <h5 class="card-header">Recommended Vaccinations</h5>
      {{#each Screenings}}
                      <p class="card-text">{{needed_vaccination}}</p>
                      {{/each}}
    </div>
  </div>
  <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-body text-success">  
    <h5 class="card-header">Additional Informatation</h5>
      {{#each Screenings}}
                      <p class="card-text">{{description}}</p>
                      {{/each}}
     <a href="https://www.google.com" class="btn btn-primary">More Info</a>
    </div>
  </div>
</div>

      <nav class="buttons_general">
        <a class="btn btn-outline-dark btnIndividual" href="/logout">
            <div>Log Out</div>
            <img src="/pictures/Screen Shot 2022-09-21 at 09.39.01.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </a>
      </nav>
</nav>
